<!doctype html><html><body>
<h1>Weekly Summary</h1>
<table border="1" cellpadding="4">
<tr>
  <th>week_start</th><th>person_id</th><th>name</th>
  <th>rides</th><th>gross_before_fee</th><th>finder_fee_amount</th><th>net_after_fee</th>
</tr>
{% for r in rows %}
<tr>
  <td>{{r.week_start}}</td>
  <td>{{r.person_id}}</td>
  <td>{{r.full_name}}</td>
  <td>{{r.rides_count}}</td>
  <td>{{r.gross_before_fee}}</td>
  <td>{{r.finder_fee_amount}}</td>
  <td>{{r.net_after_fee}}</td>
</tr>
{% endfor %}
</table>
<p><a href="/">Home</a></p>
</body></html>
